In [1]:
# coding: utf-8


import time
import pandas as pd
import requests
import base64
import datetime
import pymysql
import json
import csv

F:\anconda\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df1 = pd.read_excel(r'C:\Users\stayhungary\Desktop\0912test2.xlsx',sheet_name='地市')
df2 = pd.read_excel(r'C:\Users\stayhungary\Desktop\0912test2.xlsx',sheet_name='地市2')

In [3]:
result = pd.concat([df1, df2],axis=1,join='outer')

In [4]:
df3=pd.merge(df1, df2, on=['record_code'], how='left')

In [5]:
df3=df3.drop_duplicates(subset=['record_code'], keep='first', inplace= False)

In [6]:
with pd.ExcelWriter(r'C:\Users\stayhungary\Desktop\0912test5.xlsx') as writer1:
    df3.to_excel(writer1, sheet_name='地市', index=True)

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 668
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   record_code       580 non-null    object
 1   区县                580 non-null    object
 2   overrun           580 non-null    float64
 3   has_car_no        580 non-null    bool
 4   axis              580 non-null    int64
 5   photo2            489 non-null    object
 6   是否已采集             580 non-null    object
 7   total_weight      580 non-null    float64
 8   is_collect        580 non-null    int64
 9   vedio             448 non-null    object
 10  area_county       580 non-null    int64
 11  overrun_rate      580 non-null    float64
 12  limit_weight      580 non-null    int64
 13  photo             385 non-null    object
 14  site_name         580 non-null    object
 15  photo1            470 non-null    object
 16  out_station_time  580 non-null    datetime64[ns]
 17  car_no            580 non-null    object
 18  out_station       580 non-null    object
 19  car_no_color      580 non-null    int64
 20  status_x          580 non-null    int64
 21  allow             10 non-null     float64
 22  photo3            110 non-null    object
 23  identify_car      4 non-null      float64
 24  photo4            9 non-null      object
 25  photo5            1 non-null      object
 26  content           95 non-null     object
 27  audit_time        95 non-null     datetime64[ns]
 28  make_copy         95 non-null     object
 29  auditor           95 non-null     object
 30  status_y          95 non-null     float64
 31  valid_time        25 non-null     datetime64[ns]
 32  CASE_NUM          1 non-null      object
 33  close_case_time   1 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](4), float64(6), int64(6), object(17)
memory usage: 154.6+ KB

In [8]:
df3.describe()

,overrun,axis,total_weight,is_collect,area_county,overrun_rate,limit_weight,car_no_color,status_x,allow,identify_car,status_y
count,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,10.0,4.0,95.000000
mean,44.136517,6.755172,91.708931,0.174138,330517.634483,94.339500,47.572414,2.496552,2.734483,1.0,2.0,12.147368
std,7.084331,1.287132,6.421272,0.379555,8.336874,22.886176,3.993509,3.134022,4.552725,0.0,0.0,4.826717
min,35.050000,3.000000,84.050000,0.000000,330502.000000,71.530000,27.000000,0.000000,1.000000,1.0,2.0,0.000000
25%,39.300000,6.000000,87.837500,0.000000,330521.000000,80.200000,49.000000,1.000000,1.000000,1.0,2.0,9.000000
50%,43.800000,7.000000,91.300000,0.000000,330521.000000,89.385000,49.000000,1.000000,1.000000,1.0,2.0,15.000000
75%,47.700000,8.000000,94.825000,0.000000,330521.000000,98.570000,49.000000,1.000000,1.000000,1.0,2.0,15.000000
max,145.500000,10.000000,194.500000,1.000000,330552.000000,296.930000,49.000000,9.000000,15.000000,1.0,2.0,15.000000

In [9]:
import time

In [10]:
df3['out_station_month']=pd.to_datetime(df3['out_station_time']).dt.strftime("%Y-%m")

In [11]:
df3

,record_code,区县,overrun,has_car_no,axis,photo2,是否已采集,total_weight,is_collect,vedio,...,photo5,content,audit_time,make_copy,auditor,status_y,valid_time,CASE_NUM,close_case_time,out_station_month
0,123456_3305213103202307010701305420192,德清,40.6,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,89.6,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
1,123456_3305213103202307010717215420344,德清,50.1,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,99.1,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
2,123456_3305213103202307010750035420647,德清,38.7,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,87.7,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
3,123456_3305213103202307010800485420760,德清,47.0,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,96.0,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
4,123456_3305213103202307010919365421537,德清,44.3,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,93.3,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,DG104002_20230728031502000107,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
665,DG104002_20230728031502000108,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
666,DG104002_20230728031502000116,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
667,DG104002_20230728031502000119,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
668,DG104002_20230728031502000122,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07

In [12]:
全部分类= df3.groupby(["out_station_month","区县","is_collect","是否已采集","status_y","content"])[
        'record_code'].count().reset_index(name='80吨以上数')
全部分类

,out_station_month,区县,is_collect,是否已采集,status_y,content,80吨以上数
0,2023-07,南太湖新区,1,否,15.0,特种车辆，不需采集。,1
1,2023-07,南浔,1,否,15.0,有超限许可证，不需采集。,1
2,2023-07,南浔,1,否,15.0,特种车辆，不需采集。,5
3,2023-07,南浔,1,否,15.0,路警联合处理数据，交由交警处理处罚,4
4,2023-07,吴兴,1,否,15.0,有超限许可证.,1
5,2023-07,吴兴,1,否,15.0,特种车辆，不需采集。,3
6,2023-07,吴兴,1,否,15.0,路警联合处理数据，交由交警处理处罚,3
7,2023-07,吴兴,1,否,15.0,车牌由无车牌修正为沪FG3729，车牌颜色由其他修正为黄，限重由49.0修改为49.0。,1
8,2023-07,安吉,1,否,4.0,通过,2
9,2023-07,安吉,1,否,9.0,通过,1
10,2023-07,安吉,1,否,15.0,无水印,1
11,2023-07,安吉,1,否,15.0,有超限许可证,1
12,2023-07,安吉,1,否,15.0,路警联合处理数据，交由交警处理处罚,1
13,2023-07,德清,1,否,4.0,通过,3
14,2023-07,德清,1,否,15.0,路警联合处理数据，交由交警处理处罚,1
15,2023-07,德清,1,否,15.0,车牌号不清,2
16,2023-07,德清,1,是,0.0,通过,1
17,2023-07,德清,1,是,4.0,通过,3
18,2023-07,德清,1,是,15.0,有超限许可证,2
19,2023-07,长兴,1,否,15.0,超限许可证正常,1
20,2023-08,南太湖新区,1,否,4.0,通过,1
21,2023-08,南太湖新区,1,否,15.0,路警联合处理数据，交由交警处理处罚,1
22,2023-08,南浔,1,否,4.0,通过,2
23,2023-08,南浔,1,否,15.0,特种车辆，不需采集。,1
24,2023-08,南浔,1,否,15.0,路警联合处理数据，交由交警处理处罚,6
25,2023-08,吴兴,1,否,4.0,车牌由闽EQ003挂修正为苏CLL981，车牌颜色由黄修正为黄，限重由49.0修改为49.0。,1
26,2023-08,吴兴,1,否,4.0,通过,2
27,2023-08,吴兴,1,否,13.0,通过,1
28,2023-08,吴兴,1,否,15.0,有超限许可证.,3
29,2023-08,吴兴,1,否,15.0,特种车辆，不需采集。,2
30,2023-08,安吉,1,否,15.0,车牌由浙C3G602修正为遮挡号牌，车牌颜色由黄修正为黄，限重由36.0修改为36.0。,1
31,2023-08,安吉,1,否,15.0,车牌由贵CBE195修正为遮挡号牌，车牌颜色由黄修正为黄，限重由36.0修改为36.0。,1
32,2023-08,安吉,1,否,15.0,车牌由车牌修正为拒识无牌，车牌颜色由其他修正为其他，限重由49.0修改为49.0。,1
33,2023-08,安吉,1,否,15.0,车牌由车牌修正为遮挡号牌，车牌颜色由其他修正为黄，限重由49.0修改为49.0。,1
34,2023-08,安吉,1,否,15.0,轴型识别有误,1
35,2023-08,安吉,1,否,15.0,遮挡、变造号牌,1
36,2023-08,德清,1,否,4.0,通过,5
37,2023-08,德清,1,否,9.0,通过,1
38,2023-08,德清,1,否,15.0,视频不符合要求,1
39,2023-08,德清,1,否,15.0,路警联合处理数据，交由交警处理处罚,18
40,2023-08,德清,1,否,15.0,车牌不符,1
41,2023-08,德清,1,否,15.0,车牌号不清,1
42,2023-08,长兴,1,否,4.0,通过,3
43,2023-08,长兴,1,否,15.0,特种车辆,1

In [13]:
with pd.ExcelWriter(r'C:\Users\stayhungary\Desktop\0912test6.xlsx') as writer1:
    全部分类.to_excel(writer1, sheet_name='地市', index=True)

In [14]:
七月80吨以上数= df3[(df3['out_station_month'] == '2023-07')].groupby(["区县"])[
        'record_code'].count().reset_index(name='7月80吨以上数')

In [15]:
八月80吨以上数= df3[(df3['out_station_month'] == '2023-08')].groupby(["区县"])[
        'record_code'].count().reset_index(name='8月80吨以上数')

In [16]:
月80吨以上数=pd.merge(七月80吨以上数, 八月80吨以上数, on=['区县'], how='outer')
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数
0  南太湖新区         3         3
1     南浔        23        22
2     吴兴        36        37
3     安吉        16        11
4     德清       296       128
5     长兴         1         4

In [17]:
月80吨以上数['80吨以上数同比']=(月80吨以上数['8月80吨以上数']-月80吨以上数['7月80吨以上数'])/月80吨以上数['7月80吨以上数']
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数  80吨以上数同比
0  南太湖新区         3         3  0.000000
1     南浔        23        22 -0.043478
2     吴兴        36        37  0.027778
3     安吉        16        11 -0.312500
4     德清       296       128 -0.567568
5     长兴         1         4  3.000000

In [18]:
月80吨以上数['80吨以上数同比'] =月80吨以上数['80吨以上数同比'].apply(lambda x: format(x, '.2%'))
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数 80吨以上数同比
0  南太湖新区         3         3    0.00%
1     南浔        23        22   -4.35%
2     吴兴        36        37    2.78%
3     安吉        16        11  -31.25%
4     德清       296       128  -56.76%
5     长兴         1         4  300.00%

In [19]:
df3

,record_code,区县,overrun,has_car_no,axis,photo2,是否已采集,total_weight,is_collect,vedio,...,photo5,content,audit_time,make_copy,auditor,status_y,valid_time,CASE_NUM,close_case_time,out_station_month
0,123456_3305213103202307010701305420192,德清,40.6,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,89.6,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
1,123456_3305213103202307010717215420344,德清,50.1,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,99.1,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
2,123456_3305213103202307010750035420647,德清,38.7,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,87.7,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
3,123456_3305213103202307010800485420760,德清,47.0,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,96.0,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
4,123456_3305213103202307010919365421537,德清,44.3,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,93.3,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,DG104002_20230728031502000107,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
665,DG104002_20230728031502000108,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
666,DG104002_20230728031502000116,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
667,DG104002_20230728031502000119,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07
668,DG104002_20230728031502000122,德清,39.3,True,6,NaN,否,88.3,0,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,2023-07

In [20]:
七月80吨以上数且满足数= df3[(df3['out_station_month'] == '2023-07' ) & (df3['is_collect'] == 1)].groupby(["区县"])[
        'record_code'].count().reset_index(name='7月80吨以上数且满足数')
七月80吨以上数且满足数

      区县  7月80吨以上数且满足数
0  南太湖新区             1
1     南浔            10
2     吴兴             8
3     安吉             6
4     德清            13
5     长兴             1

In [21]:
八月80吨以上数且满足数= df3[(df3['out_station_month'] == '2023-08' ) & (df3['is_collect'] == 1)].groupby(["区县"])[
        'record_code'].count().reset_index(name='8月80吨以上数且满足数')
八月80吨以上数且满足数

      区县  8月80吨以上数且满足数
0  南太湖新区             2
1     南浔             9
2     吴兴             9
3     安吉             7
4     德清            31
5     长兴             4

In [22]:
月80吨以上数=pd.merge(月80吨以上数, 七月80吨以上数且满足数, on=['区县'], how='outer')
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数 80吨以上数同比  7月80吨以上数且满足数
0  南太湖新区         3         3    0.00%             1
1     南浔        23        22   -4.35%            10
2     吴兴        36        37    2.78%             8
3     安吉        16        11  -31.25%             6
4     德清       296       128  -56.76%            13
5     长兴         1         4  300.00%             1

In [23]:
月80吨以上数=pd.merge(月80吨以上数, 八月80吨以上数且满足数, on=['区县'], how='outer')
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数 80吨以上数同比  7月80吨以上数且满足数  8月80吨以上数且满足数
0  南太湖新区         3         3    0.00%             1             2
1     南浔        23        22   -4.35%            10             9
2     吴兴        36        37    2.78%             8             9
3     安吉        16        11  -31.25%             6             7
4     德清       296       128  -56.76%            13            31
5     长兴         1         4  300.00%             1             4

In [24]:
月80吨以上数['80吨以上数且满足同比']=(月80吨以上数['8月80吨以上数且满足数']-月80吨以上数['7月80吨以上数且满足数'])/月80吨以上数['7月80吨以上数且满足数']
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数 80吨以上数同比  7月80吨以上数且满足数  8月80吨以上数且满足数  80吨以上数且满足同比
0  南太湖新区         3         3    0.00%             1             2     1.000000
1     南浔        23        22   -4.35%            10             9    -0.100000
2     吴兴        36        37    2.78%             8             9     0.125000
3     安吉        16        11  -31.25%             6             7     0.166667
4     德清       296       128  -56.76%            13            31     1.384615
5     长兴         1         4  300.00%             1             4     3.000000

In [25]:
月80吨以上数['80吨以上数且满足同比'] =月80吨以上数['80吨以上数且满足同比'].apply(lambda x: format(x, '.2%'))
月80吨以上数

      区县  7月80吨以上数  8月80吨以上数 80吨以上数同比  7月80吨以上数且满足数  8月80吨以上数且满足数 80吨以上数且满足同比
0  南太湖新区         3         3    0.00%             1             2     100.00%
1     南浔        23        22   -4.35%            10             9     -10.00%
2     吴兴        36        37    2.78%             8             9      12.50%
3     安吉        16        11  -31.25%             6             7      16.67%
4     德清       296       128  -56.76%            13            31     138.46%
5     长兴         1         4  300.00%             1             4     300.00%

In [26]:
df3=df3.fillna(0)

In [27]:
七月80吨以上数采集数= df3[(df3['out_station_month'] == '2023-07' ) & (df3['status_y'] != 0)].groupby(["区县"])[
        'record_code'].count().reset_index(name='7月80吨以上数采集数')
七月80吨以上数采集数

      区县  7月80吨以上数采集数
0  南太湖新区            1
1     南浔           10
2     吴兴            8
3     安吉            6
4     德清           11
5     长兴            1

In [28]:
八月80吨以上数采集数= df3[(df3['out_station_month'] == '2023-08' ) & (df3['status_y'] != 0)].groupby(["区县"])[
        'record_code'].count().reset_index(name='8月80吨以上数采集数')
八月80吨以上数采集数

      区县  8月80吨以上数采集数
0  南太湖新区            2
1     南浔            9
2     吴兴            9
3     安吉            6
4     德清           27
5     长兴            4

In [29]:
月80吨以上数=pd.merge(月80吨以上数, 七月80吨以上数采集数, on=['区县'], how='outer')
月80吨以上数

,区县,7月80吨以上数,8月80吨以上数,80吨以上数同比,7月80吨以上数且满足数,8月80吨以上数且满足数,80吨以上数且满足同比,7月80吨以上数采集数
0,南太湖新区,3,3,0.00%,1,2,100.00%,1
1,南浔,23,22,-4.35%,10,9,-10.00%,10
2,吴兴,36,37,2.78%,8,9,12.50%,8
3,安吉,16,11,-31.25%,6,7,16.67%,6
4,德清,296,128,-56.76%,13,31,138.46%,11
5,长兴,1,4,300.00%,1,4,300.00%,1

In [30]:
月80吨以上数=pd.merge(月80吨以上数, 八月80吨以上数采集数, on=['区县'], how='outer')
月80吨以上数=月80吨以上数.fillna(0)
月80吨以上数['80吨以上采集数同比']=(月80吨以上数['8月80吨以上数采集数']-月80吨以上数['7月80吨以上数采集数'])/月80吨以上数['7月80吨以上数采集数']
月80吨以上数['80吨以上采集数同比'] =月80吨以上数['80吨以上采集数同比'].apply(lambda x: format(x, '.2%'))
月80吨以上数

,区县,7月80吨以上数,8月80吨以上数,80吨以上数同比,7月80吨以上数且满足数,8月80吨以上数且满足数,80吨以上数且满足同比,7月80吨以上数采集数,8月80吨以上数采集数,80吨以上采集数同比
0,南太湖新区,3,3,0.00%,1,2,100.00%,1,2,100.00%
1,南浔,23,22,-4.35%,10,9,-10.00%,10,9,-10.00%
2,吴兴,36,37,2.78%,8,9,12.50%,8,9,12.50%
3,安吉,16,11,-31.25%,6,7,16.67%,6,6,0.00%
4,德清,296,128,-56.76%,13,31,138.46%,11,27,145.45%
5,长兴,1,4,300.00%,1,4,300.00%,1,4,300.00%

In [31]:
df3

,record_code,区县,overrun,has_car_no,axis,photo2,是否已采集,total_weight,is_collect,vedio,...,photo5,content,audit_time,make_copy,auditor,status_y,valid_time,CASE_NUM,close_case_time,out_station_month
0,123456_3305213103202307010701305420192,德清,40.6,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,89.6,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0.0,0,0,0,2023-07
1,123456_3305213103202307010717215420344,德清,50.1,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,99.1,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0.0,0,0,0,2023-07
2,123456_3305213103202307010750035420647,德清,38.7,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,87.7,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0.0,0,0,0,2023-07
3,123456_3305213103202307010800485420760,德清,47.0,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,96.0,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0.0,0,0,0,2023-07
4,123456_3305213103202307010919365421537,德清,44.3,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,93.3,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0.0,0,0,0,2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,DG104002_20230728031502000107,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0.0,0,0,0,2023-07
665,DG104002_20230728031502000108,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0.0,0,0,0,2023-07
666,DG104002_20230728031502000116,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0.0,0,0,0,2023-07
667,DG104002_20230728031502000119,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0.0,0,0,0,2023-07
668,DG104002_20230728031502000122,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0.0,0,0,0,2023-07

In [32]:
df3=df3.fillna(0)

In [33]:
df3['status_y']=df3['status_y'].astype('int64')

In [34]:
df3

,record_code,区县,overrun,has_car_no,axis,photo2,是否已采集,total_weight,is_collect,vedio,...,photo5,content,audit_time,make_copy,auditor,status_y,valid_time,CASE_NUM,close_case_time,out_station_month
0,123456_3305213103202307010701305420192,德清,40.6,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,89.6,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
1,123456_3305213103202307010717215420344,德清,50.1,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,99.1,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
2,123456_3305213103202307010750035420647,德清,38.7,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,87.7,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
3,123456_3305213103202307010800485420760,德清,47.0,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,96.0,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
4,123456_3305213103202307010919365421537,德清,44.3,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,93.3,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,DG104002_20230728031502000107,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
665,DG104002_20230728031502000108,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
666,DG104002_20230728031502000116,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
667,DG104002_20230728031502000119,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
668,DG104002_20230728031502000122,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07

In [35]:
七月80吨以上审核通过数= df3[(df3['out_station_month'] == '2023-07' ) & (df3['status_y'] != 15) & (df3['status_y'] != 0)].groupby(["区县"])[
        'record_code'].count().reset_index(name='7月80吨以上审核通过数')
八月80吨以上审核通过数= df3[(df3['out_station_month'] == '2023-08' ) & (df3['status_y'] != 15) & (df3['status_y'] != 0)].groupby(["区县"])[
        'record_code'].count().reset_index(name='8月80吨以上审核通过数')
月80吨以上数=pd.merge(月80吨以上数, 七月80吨以上审核通过数, on=['区县'], how='outer')
月80吨以上数=pd.merge(月80吨以上数, 八月80吨以上审核通过数, on=['区县'], how='outer')
月80吨以上数=月80吨以上数.fillna(0)
月80吨以上数['80吨以上审核通过数同比']=(月80吨以上数['8月80吨以上审核通过数']-月80吨以上数['7月80吨以上审核通过数'])/月80吨以上数['7月80吨以上审核通过数']
月80吨以上数['80吨以上审核通过数同比'] =月80吨以上数['80吨以上审核通过数同比'].apply(lambda x: format(x, '.2%'))
月80吨以上数

,区县,7月80吨以上数,8月80吨以上数,80吨以上数同比,7月80吨以上数且满足数,8月80吨以上数且满足数,80吨以上数且满足同比,7月80吨以上数采集数,8月80吨以上数采集数,80吨以上采集数同比,7月80吨以上审核通过数,8月80吨以上审核通过数,80吨以上审核通过数同比
0,南太湖新区,3,3,0.00%,1,2,100.00%,1,2,100.00%,0.0,1.0,inf%
1,南浔,23,22,-4.35%,10,9,-10.00%,10,9,-10.00%,0.0,2.0,inf%
2,吴兴,36,37,2.78%,8,9,12.50%,8,9,12.50%,0.0,4.0,inf%
3,安吉,16,11,-31.25%,6,7,16.67%,6,6,0.00%,3.0,0.0,-100.00%
4,德清,296,128,-56.76%,13,31,138.46%,11,27,145.45%,6.0,6.0,0.00%
5,长兴,1,4,300.00%,1,4,300.00%,1,4,300.00%,0.0,3.0,inf%

In [36]:
with pd.ExcelWriter(r'C:\Users\stayhungary\Desktop\湖州8月合规率区县环比.xlsx') as writer1:
    月80吨以上数.to_excel(writer1, sheet_name='区县环比', index=True)

In [37]:
湖州80吨以上数= df3[(df3['out_station_month'] == '2023-08' )].groupby(["区县"])[
        'record_code'].count().reset_index(name='80吨以上数')
湖州80吨以上数

      区县  80吨以上数
0  南太湖新区       3
1     南浔      22
2     吴兴      37
3     安吉      11
4     德清     128
5     长兴       4

In [38]:
df3

,record_code,区县,overrun,has_car_no,axis,photo2,是否已采集,total_weight,is_collect,vedio,...,photo5,content,audit_time,make_copy,auditor,status_y,valid_time,CASE_NUM,close_case_time,out_station_month
0,123456_3305213103202307010701305420192,德清,40.6,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,89.6,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
1,123456_3305213103202307010717215420344,德清,50.1,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,99.1,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
2,123456_3305213103202307010750035420647,德清,38.7,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,87.7,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
3,123456_3305213103202307010800485420760,德清,47.0,True,7,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,96.0,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
4,123456_3305213103202307010919365421537,德清,44.3,True,8,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,是,93.3,0,http://zjjt-zhzc.oss-cn-hangzhou-zjzwy01-d01-a...,...,0,0,0,0,0,0,0,0,0,2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,DG104002_20230728031502000107,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
665,DG104002_20230728031502000108,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
666,DG104002_20230728031502000116,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
667,DG104002_20230728031502000119,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07
668,DG104002_20230728031502000122,德清,39.3,True,6,0,否,88.3,0,0,...,0,0,0,0,0,0,0,0,0,2023-07

In [39]:
df3['car_no'].fillna('无牌', inplace=True)
df3['字节数'] = df3['car_no'].str.len()

In [40]:
湖州80吨以上无牌数= df3[(df3['out_station_month'] == '2023-08' )&(df3['字节数']  <= 5 )].groupby(["区县"])[
        'record_code'].count().reset_index(name='80吨以上无牌数')

In [41]:
湖州月80吨以上数=pd.merge(湖州80吨以上数, 湖州80吨以上无牌数, on=['区县'], how='outer')

In [42]:
湖州月80吨以上数

      区县  80吨以上数  80吨以上无牌数
0  南太湖新区       3       1.0
1     南浔      22      13.0
2     吴兴      37      30.0
3     安吉      11       7.0
4     德清     128      53.0
5     长兴       4       NaN

In [43]:
湖州月80吨以上数=湖州月80吨以上数.fillna(0)
湖州月80吨以上数['80吨以上无牌数占比']=湖州月80吨以上数['80吨以上无牌数']/湖州月80吨以上数['80吨以上数']
湖州月80吨以上数['80吨以上无牌数占比']=湖州月80吨以上数['80吨以上无牌数占比'].apply(lambda x: format(x, '.2%'))
湖州月80吨以上数

      区县  80吨以上数  80吨以上无牌数 80吨以上无牌数占比
0  南太湖新区       3       1.0     33.33%
1     南浔      22      13.0     59.09%
2     吴兴      37      30.0     81.08%
3     安吉      11       7.0     63.64%
4     德清     128      53.0     41.41%
5     长兴       4       0.0      0.00%

In [44]:
湖州月80吨以上数

      区县  80吨以上数  80吨以上无牌数 80吨以上无牌数占比
0  南太湖新区       3       1.0     33.33%
1     南浔      22      13.0     59.09%
2     吴兴      37      30.0     81.08%
3     安吉      11       7.0     63.64%
4     德清     128      53.0     41.41%
5     长兴       4       0.0      0.00%

In [45]:
湖州80吨以且满足数= df3[(df3['out_station_month'] == '2023-08' )&(df3['is_collect']  == 1 )].groupby(["区县"])[
        'record_code'].count().reset_index(name='80吨以上且满足数')
湖州月80吨以上数=pd.merge(湖州月80吨以上数, 湖州80吨以且满足数, on=['区县'], how='outer')
湖州月80吨以上数=湖州月80吨以上数.fillna(0)
湖州月80吨以上数['80吨以上且满足数占比']=湖州月80吨以上数['80吨以上且满足数']/湖州月80吨以上数['80吨以上数']
湖州月80吨以上数['80吨以上且满足数占比']=湖州月80吨以上数['80吨以上且满足数占比'].apply(lambda x: format(x, '.2%'))
湖州月80吨以上数

      区县  80吨以上数  80吨以上无牌数 80吨以上无牌数占比  80吨以上且满足数 80吨以上且满足数占比
0  南太湖新区       3       1.0     33.33%          2      66.67%
1     南浔      22      13.0     59.09%          9      40.91%
2     吴兴      37      30.0     81.08%          9      24.32%
3     安吉      11       7.0     63.64%          7      63.64%
4     德清     128      53.0     41.41%         31      24.22%
5     长兴       4       0.0      0.00%          4     100.00%

In [46]:
湖州80吨以采集数= df3[(df3['out_station_month'] == '2023-08' )&(df3['status_y'] != 0)].groupby(["区县"])[
        'record_code'].count().reset_index(name='80吨以上采集数')
湖州月80吨以上数=pd.merge(湖州月80吨以上数, 湖州80吨以采集数, on=['区县'], how='outer')
湖州月80吨以上数=湖州月80吨以上数.fillna(0)
湖州月80吨以上数['80吨以上采集数占比']=湖州月80吨以上数['80吨以上采集数']/湖州月80吨以上数['80吨以上数']
湖州月80吨以上数['80吨以上采集数占比']=湖州月80吨以上数['80吨以上采集数占比'].apply(lambda x: format(x, '.2%'))
湖州月80吨以上数

,区县,80吨以上数,80吨以上无牌数,80吨以上无牌数占比,80吨以上且满足数,80吨以上且满足数占比,80吨以上采集数,80吨以上采集数占比
0,南太湖新区,3,1.0,33.33%,2,66.67%,2,66.67%
1,南浔,22,13.0,59.09%,9,40.91%,9,40.91%
2,吴兴,37,30.0,81.08%,9,24.32%,9,24.32%
3,安吉,11,7.0,63.64%,7,63.64%,6,54.55%
4,德清,128,53.0,41.41%,31,24.22%,27,21.09%
5,长兴,4,0.0,0.00%,4,100.00%,4,100.00%

In [47]:
湖州80吨以上审核通过数= df3[(df3['out_station_month'] == '2023-08' )&(df3['status_y'] != 0)&(df3['status_y'] != 15)].groupby(["区县"])[
        'record_code'].count().reset_index(name='80吨以上审核通过数')
湖州月80吨以上数=pd.merge(湖州月80吨以上数, 湖州80吨以上审核通过数, on=['区县'], how='outer')
湖州月80吨以上数=湖州月80吨以上数.fillna(0)
湖州月80吨以上数['80吨以上审核通过数占比']=湖州月80吨以上数['80吨以上审核通过数']/湖州月80吨以上数['80吨以上数']
湖州月80吨以上数['80吨以上审核通过数占比']=湖州月80吨以上数['80吨以上审核通过数占比'].apply(lambda x: format(x, '.2%'))
湖州月80吨以上数

,区县,80吨以上数,80吨以上无牌数,80吨以上无牌数占比,80吨以上且满足数,80吨以上且满足数占比,80吨以上采集数,80吨以上采集数占比,80吨以上审核通过数,80吨以上审核通过数占比
0,南太湖新区,3,1.0,33.33%,2,66.67%,2,66.67%,1.0,33.33%
1,南浔,22,13.0,59.09%,9,40.91%,9,40.91%,2.0,9.09%
2,吴兴,37,30.0,81.08%,9,24.32%,9,24.32%,4.0,10.81%
3,安吉,11,7.0,63.64%,7,63.64%,6,54.55%,0.0,0.00%
4,德清,128,53.0,41.41%,31,24.22%,27,21.09%,6.0,4.69%
5,长兴,4,0.0,0.00%,4,100.00%,4,100.00%,3.0,75.00%

In [48]:
with pd.ExcelWriter(r'C:\Users\stayhungary\Desktop\湖州8月合规率区县同比.xlsx') as writer1:
    湖州月80吨以上数.to_excel(writer1, sheet_name='区县同比', index=True)

In [49]:
湖州审核意见= df3[(df3['out_station_month'] == '2023-08' )].groupby(["content"])[
        'record_code'].count().reset_index(name='审核意见')

In [50]:
with pd.ExcelWriter(r'C:\Users\stayhungary\Desktop\湖州审核意见.xlsx') as writer1:
    湖州审核意见.to_excel(writer1, sheet_name='区县同比', index=True)

In [293]:
import pandas as pd
import pandas_bokeh

data = {
    'fruits':
    ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries'],
    '2015': [2, 1, 4, 3, 2, 4],
    '2016': [5, 3, 3, 2, 4, 6],
    '2017': [3, 2, 4, 4, 5, 3]
}
df = pd.DataFrame(data).set_index("fruits")

p_bar = df.plot_bokeh.bar(
    ylabel="Price per Unit [€]",
    title="Fruit prices per Year",
    alpha=0.6)

In [294]:
print(湖州月80吨以上数)

      区县  80吨以上数  80吨以上无牌数 80吨以上无牌数占比  80吨以上且满足数 80吨以上且满足数占比  80吨以上采集数  \
0  南太湖新区       3       1.0     33.33%          2      66.67%         2
1     南浔      22      13.0     59.09%          9      40.91%         9
2     吴兴      37      30.0     81.08%          9      24.32%         9
3     安吉      11       7.0     63.64%          7      63.64%         6
4     德清     128      53.0     41.41%         31      24.22%        27
5     长兴       4       0.0      0.00%          4     100.00%         4

  80吨以上采集数占比  80吨以上审核通过数 80吨以上审核通过数占比
0     66.67%         1.0       33.33%
1     40.91%         2.0        9.09%
2     24.32%         4.0       10.81%
3     54.55%         0.0        0.00%
4     21.09%         6.0        4.69%
5    100.00%         3.0       75.00%

In [296]:
df = pd.DataFrame(湖州月80吨以上数).set_index("区县")

In [297]:
p_bar = df.plot_bokeh.bar(
    ylabel="Price per Unit [€]",
    title="Fruit prices per Year",
    alpha=0.6)

In [298]:
p_bar = df.plot_bokeh.line(
    ylabel="Price per Unit [€]",
    title="Fruit prices per Year",
    alpha=0.6)

In [ ]:
df.plot_bokeh(
   kind = 'bar',
   x = '年份',
   y = ['产品A', '产品B', '产品C'],
   xlabel = '产品数量',
   ylabel = '年度销售量',
   title = '三种产品年度销售统计图'
)